<#include "macros.ftlh">
<@navigablePage page navpages>
<main class="blogPost">
  <header>
    <h1>${page.title}</h1>
    <h2>${_("site.page.author", post.author)}</h2>
  </header>
  <article>
    ${page.contents}
  </article>
  <footer>
    <section class="published">${_("site.page.published", page.published)}</section>
    <#if (page.lastEdited)?has_content>
    <section class="lastEdited">${_("site.page.lastEdited", page.lastEdited)}</section>
    </#if>
  </footer>
<#if !post.showComments>
<p class="button-showComments"><a href="?comments=1">${_("site.comments.show")}</a></p>
</#if>
<#if post.showComments && (post.comments)?has_content>
<@comments_section post.comments />
</#if>
</main>
</@navigablePage>