<#include "macros.ftlh">
<@navigablePage htmlPage navpages>
<main class="page">
  <h1>${page.title}</h1>
  <article>
    ${page.contents}
  </article>
  <footer>
    <section class="published">${_("site.page.published", page.published)}</section>
    <#if (page.lastEdited)?has_content>
    <section class="lastEdited">${_("site.page.lastEdited", page.lastEdited)}</section>
    </#if>
  </footer>
</main>
</@navigablePage>